# terraform.tfvars.example
# 
# Copie este arquivo para terraform.tfvars e preencha com seus valores
# NUNCA commite terraform.tfvars no Git (já está no .gitignore)

# resource_group_name = "fiap-fase-02"
# location            = "eastus"
# acr_name            = "fiapcr"
# acr_sku             = "Standard"
# acr_admin_enabled   = true
