apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: fcg-system
data:
  aspnetcore-environment: "Development"
  aspnetcore-urls: "http://+:8080;http://+:8081"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-config
  namespace: fcg-system
data:
  bootstrap-servers: "kafka-service:29092"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: init-db-config
  namespace: fcg-system
data:
  init-db.sql: |
    IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'fcg_users')
    BEGIN
        CREATE DATABASE fcg_users;
    END
    GO

    IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'fcg_payments')
    BEGIN
        CREATE DATABASE fcg_payments;
    END
    GO

    IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'fcg_catalog')
    BEGIN
        CREATE DATABASE fcg_catalog;
    END
    GO
